requests==2.31.0
pandas==2.1.1
playwright==1.41.2
tf-playwright-stealth==1.1.1
streamlit==1.42.0
altair==5.0.1
matplotlib==3.8.0
seaborn==0.12.2
python-docx==0.8.11
openai==0.28.0
price-parser==0.3.4
sib-api-v3-sdk==7.6.0
greenlet==3.0.3
plotly==6.0.0
groq==0.18.0

